@{
    ViewBag.Title = "Reset password confirmation";
}


<div class="LogoBackground">
    <div class="row">

        <div class="col-lg-6 col-md-8 col-sm-10 col-xs-10  email-sent-container">

            <img class=".img-responsive  EmailImg" src="https://nemstorage123.blob.core.windows.net/webassets/successful.svg?sp=r&st=2021-08-22T14:50:17Z&se=2025-08-22T22:50:17Z&spr=https&sv=2020-08-04&sr=c&sig=W9HJyels24JJ0rJapfB0gmoYEFeVxdfuf%2FjEKAmz8KE%3D" alt="Successful">
            <div class="EmailSentText">
                <h4>Your password has been successfully reset.</h4>


            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-12 email-sent">
                        <input type="submit" value="Login" class="btn btn-default customButton" id="GoToLogInButton" />
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>

<style>
    .email-sent-container {
        width: 100%;
        min-width: 100%;
        margin-top: 18px;
        text-align: center;
        min-height: 70vh;
        display: block;
        padding-top: 4%;
    }

    .email-sent {
        display: block;
        text-align: center;
    }

    .EmailSentText {
        text-align: center;
    }

    .EmailImg {
        height: 25vh;
    }
</style>