
@using Portal_MVC.Models
@model Portal_MVC.Models.ViewModelBase


@if (Model != null )
{

    <div class="container">
        <div class="panel GradientBackground panelContainer">
            <table class="LinkedTable tableHover">
                <tbody>
                    @if (Model != null && Model.Properties != null)
                    {

                        foreach (Properties item in Model.Properties)
                        {
                            <tr>

                                @if (item.Address1 != null && item.Address1 != "")
                                {
                                    <td class="PropSelection">@Html.ActionLink(item.FullAddress, Model.ViewName, Model.ControllerName, 
                                                             new { PropID = item.ID, PropName = item.Address1, id = "Prop" + item.ID, IsEstate = true }, null)</td>
                                }

                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
}





