@using Portal_MVC.Controllers
@model Portal_MVC.Controllers.EstateAccessDetailViewModel
@{
    ViewBag.Title = "AccessDetails";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h2>AccessDetails</h2>

