

@using Portal_MVC.Controllers
@model Portal_MVC.Models.EstateDashboardViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="main-content-container" id="main-content-container">
    @if(string.IsNullOrWhiteSpace(Model.SelectedEstateID))
    {
        @Html.Partial("_SelectEstate")
    } else
    {
        <div>
            Display dash
        </div>
    }
    
</div>



