@using Portal_MVC.Models
@model Portal_MVC.Models.ViewModelBase
@{
    ViewBag.Title = "EstateInfo_Dashboard";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


<div class="main-content-container" id="main-content-container">
    <h2>EstateInfo_Dashboard</h2>
</div>



